extends base/layout.pug

block main

	<div class="section">
		<div class="container">

			<h1 class="do-anim appear-slideInUp" style="--appearDelay: 400ms;">You're invited to<br> FROGS <span class="highlight">AIRDROP</span></h1>

			<ul class="roadmap do-anim appear-slideInUp" style="--appearDelay: 750ms;">
				<li class="roadmap__item">
					<h4>Fundraising</h4>
					<p>(seed round from 3 venture firms)</p>
					<div class="roadmap__item-dot"></div>
				</li>

				<li class="roadmap__item">
					<h4>Smart Contract deployed<br> on Main Net</h4>
					<p>(Check <a href="">GitHub</a> & <a href="">Gitbook</a>)</p>
					<div class="roadmap__item-dot"></div>
				</li>

				<li class="roadmap__item">
					<h4>Partnership with<br> BNB Chain</h4>
					<div class="roadmap__item-dot"></div>
				</li>

				<li class="roadmap__item">
					<h4>AIRDROP 1.0</h4>
					<p>(powered by <a href="">crew3</a>)</p>
					<div class="roadmap__item-dot"></div>
				</li>

				<li class="roadmap__item">
					<h4>Beta Product is Live</h4>
					<div class="roadmap__item-dot"></div>
				</li>

				<li class="roadmap__item">
					<h4>$FROGS is listed</h4>
					<div class="roadmap__item-dot"></div>
				</li>
			</ul>

			<div class="section-actions do-anim appear-slideInUp">
				<a href="" class="button button--big">TAKE PART</a>
				<p>Powered by crew3</p>
			</div>

		</div>

		<div class="bg-lines">
			<div class="bg-lines__wrap">
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line">
					img(src=require('~/images/figure2.svg') loading="lazy" alt="" class="decor do-anim appear-slideInUp" style="--appearDelay: 700ms; --fromY:60px; width: 67px; top: 50%")
				</div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line">
					img(src=require('~/images/figure1.svg') loading="lazy" alt="" class="decor do-anim appear-slideInUp" style="--appearDelay: 900ms; --fromY: 60px; width: 29px; top: 10%")
				</div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
			</div>
		</div>

	</div>

	<div class="section section--small">
		<div class="container">

			<h2 class="h1 do-anim appear-slideInUp">About FROGS.FI</h2>

			<div class="feature-set">
				<div class="feature do-anim appear-slideInUp" style="--appearDelay: 200ms;">
					<div class="feature__icon"></div>
					<div class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, blanditiis?</div>
				</div>

				<div class="feature do-anim appear-slideInUp" style="--appearDelay: 350ms;">
					<div class="feature__icon"></div>
					<div class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, blanditiis?</div>
				</div>

				<div class="feature do-anim appear-slideInUp" style="--appearDelay: 500ms;">
					<div class="feature__icon"></div>
					<div class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, blanditiis?</div>
				</div>
			</div>

			<div class="services">
				<a href="" class="services__item color-github do-anim appear-slideInUp" style="--appearDelay: 300ms;">GitHub</a>
				<a href="" class="services__item color-gitlook do-anim appear-slideInUp" style="--appearDelay: 450ms;">Gitbook</a>
				<a href="" class="services__item color-telegram do-anim appear-slideInUp" style="--appearDelay: 600ms;">Telegram</a>
				<a href="" class="services__item color-twitter do-anim appear-slideInUp" style="--appearDelay: 750ms;">Twitter</a>
			</div>

		</div>

		<div class="bg-lines">
			<div class="bg-lines__wrap">
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line">
					img(src=require('~/images/figure1.svg') loading="lazy" alt="" class="decor" style="width: 29px; top: 38%")
				</div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line">
					img(src=require('~/images/figure2.svg') loading="lazy" alt="" class="decor" style="width: 67px; top: 65%")
				</div>
			</div>
		</div>

	</div>

	<div class="section section--small">
		<div class="container">

			<div class="box do-anim appear-slideInUp" style="--appearDelay: 0ms;">

				<h2 class="h1">Details AIRDROP</h2>

				<ul class="join-list block-center">
					<li>Join Telegram</li>
					<li>Join Twitter</li>
					<li>Connect Wallet on Frogs.fi</li>
				</ul>

				<div class="section-actions">
					<a href="" class="button button--big">Connect Wallet</a>
				</div>

			</div>

		</div>

		<div class="bg-lines">
			<div class="bg-lines__wrap">
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line">
					img(src=require('~/images/figure1.svg') loading="lazy" alt="" class="decor" style="width: 29px; top: 38%")
				</div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
				<div class="bg-lines__line"></div>
			</div>
		</div>

	</div>
